[Desktop Entry]
Version=1.0
Type=Link
Name=AMT20 Series | Modular | Absolute | Rotary Encoders
Comment=
Icon=gnome-fs-bookmark
URL=http://www.cui.com/product/motion/rotary-encoders/absolute/modular/amt20-series
